<div class="add-patient-btn">
    <button nz-button nzType="primary" (click)="showModal()">
        <span>Add Patient</span>
    </button>
</div>
<nz-table #basicTable [nzData]="listOfPatient">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Check-in</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of basicTable.data">
            <td>{{patient.name}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.sex}}</td>
            <td>{{patient.checkIn | date: 'MM/dd/yyyy'}}</td>
            <td>
                <span nz-icon nzType="edit" nzTheme="outline"  nz-tooltip nzTooltipTitle="Open the Edit modal"
                    (click)="editPatient(patient)"></span>
                <nz-divider nzType="vertical"></nz-divider>
                <span nz-icon nzType="delete" nzTheme="outline"  nz-tooltip nzTooltipTitle="Open the Delete modal"
                    (click)="deletePatient(patient)"></span>
                    <nz-divider nzType="vertical"></nz-divider>
                <span nz-icon nzType="user" nzTheme="outline"  nz-tooltip  nzTooltipTitle="Open the Patient History page"
                        (click)="patientHistory(patient.id)"></span>
            </td>
        </tr>
    </tbody>
</nz-table>

<app-patient-form></app-patient-form>
<app-patient-delete-modal></app-patient-delete-modal>