<nz-modal
      [(nzVisible)]="ismodelShow"
      [nzTitle]='modalTitle'
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="submitForm()"
      [nzOkLoading]="loading"
    >
    <ng-template #modalTitle>
        <div *ngIf="!editId || editId==''">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Add Patient
        </div>
        <div *ngIf="editId && editId!=''">
            <span nz-icon nzType="edit" nzTheme="outline"></span> Edits Patient
        </div>
      </ng-template>
    <!-- <span nz-icon nzType="edit" nzTheme="outline"></span> -->
    <ng-container *nzModalContent>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid name!">
                <input nz-input formControlName="name" id="name" placeholder="name"  />
            </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="age" nzRequired>Age</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid age!">
                <input nz-input formControlName="age" id="age"  placeholder="age" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"/>
            </nz-form-control>
            </nz-form-item>
            <nz-form-item>

            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sex" nzRequired>Sex</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid sex!">
                <nz-radio-group formControlName="sex">
                <label  nzErrorTip="" nz-radio [nzValue]="sex.value" *ngFor="let sex of sexOption">{{ sex.label }}</label>
              </nz-radio-group>
            </nz-form-control>
            </nz-form-item>
            
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkIn" nzRequired>Check in</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="Please enter valid check in!">
                <nz-date-picker nz-input id="checkIn" formControlName="checkIn"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>

        </form>
    </ng-container>
    </nz-modal>