
 <div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="height">Height</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid name!">
        <input nz-input formControlName="height" id="height" placeholder="height" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" />
    </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="weight" nzRequired>weight</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid weight!">
        <input nz-input formControlName="weight" id="weight"  placeholder="weight" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"/>
    </nz-form-control>
    </nz-form-item>
    <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="smoking" nzRequired>*Smoking</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid smoking!">
        <nz-radio-group formControlName="smoking">
        <label  nzErrorTip="" nz-radio [nzValue]="smoke.value" *ngFor="let smoke of smokerOption">{{ smoke.label }}</label>
      </nz-radio-group>
    </nz-form-control>
    </nz-form-item>

    <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="alcohol" nzRequired>*Alcohol Drinking</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid alcohol!">
        <nz-radio-group formControlName="alcohol">
        <label  nzErrorTip="" nz-radio [nzValue]="drink.value" *ngFor="let drink of alcoholOption">{{ drink.label }}</label>
      </nz-radio-group>
    </nz-form-control>
    </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="drug" nzRequired>*Drug Drinking</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter valid drug!">
            <nz-checkbox-group formControlName="drug" ></nz-checkbox-group>
        </nz-form-control>
      </nz-form-item> -->
</form>
 </div>